@import "colors";
@import "spacing";
@import "radii-shadows";
@import "typography";

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin button($bg, $hover-bg, $color: #fff) {
    display: inline-block;
    padding: space(2) space(4);
    border-radius: radius(sm);
    font-size: map-get($font-sizes, sm);
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: $color;
    background-color: $bg;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: $hover-bg;
    }
}