$radii: (
    sm: 4px,
    md: 8px,
    lg: 12px
);

$shadows: (
    sm: 0 1px 3px rgba(0, 0, 0, 0.1),
    md: 0 4px 8px rgba(0, 0, 0, 0.1)
);

@function radius($key) {
    @return map-get($radii, $key)
}