<main class="container">
    <%= link_to sanitize("&larr; Back to clients"), clients_path %>

    <div class="header">
        <h1>Edit client</h1>
    </div>

    <%= render "form", client: @client %>
</main>