<main class="container">
    <%= link_to "&larr; Back to clients".html_safe, clients_path, class: "back-link" %>

    <header class="page-header">
        <h1><%= action_name.capitalize %></h1>
    </header>

    <%= render "form", client: @client %>
</main>