<main class="container">

  <header class="date">
    <%= Time.zone.now.strftime("%A, %d, %B %Y") %>
  </header>

  <header class="main-header">
    <h1>Clients</h1>
    <%= link_to "New client", new_client_path, class: "btn btn-primary" %>
  </header>

  <section class="client-list">
    <%= render @clients %>
  </section>

</main>
